body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

input, select, button, textarea {
  max-width: 100%;
}

meter, progress, output {
  max-width: 100%;
}

div#tswsidecol {
  float: right;
  width: 20%;
  color: black;
  background-color: white;
}

div#tswcontent {
  float: right;
  width: 80%;
  color: black;
  background-color: white;
}

@media only screen and ( max-width : 629px ) {
  div#tswsidecol {
    float: none;
    width: 100%;
  }
  div#tswcontent {
    float: none;
    width: 100%;
  }
}

div#tswcontproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswcontainer {
  color: ;
  background-color: white;
}

div#tswsideproper, div#tswothersideproper {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

div#tswheader {
  color: black;
  background-color: white;
  outline-style: dotted;
  outline-width: 3px;
  outline-color: red;
  text-shadow: 3px 3px maroon; 
}

.pulse {
  animation-name: pulse_anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse_anim {
	0%, 100% {
		font-size: 100%;
	}
	50% {
		font-size: 105%;
	}
}

div#tswfooter {
  color: black;
  background-color: white;
}

#tswheader {
  font-family: "Arial", "Helvetica", "sans-serif";
}

h2 {
  animation-name: glow_anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes glow_anim {
	0%, 100% {
		text-shadow: 0 0 10px #00aaaa, 
			0 0 20px #008888,
			0 0 30px #006666,
			0 0 40px #004444,
			0 0 50px #002222;
	}
	50% {
		text-shadow: 0 0 10px #008888, 
			0 0 20px #006666,
			0 0 30px #004444,
			0 0 40px #002222;
	}
}
